body{
    font-family: monospace;
    background-color: rgb(172,229,255);
}

div.fondo{
    background-image: url("http://www.solofondosdepantalla.net/fondos-de-pantalla/Juegos/Fondo-de-pantalla-Retro-console.jpg");
    background-position: center bottom;
    background-repeat: repeat-x;
    background-size: contain;
}

div.fondo div.container{
    background-color: rgba(255,255,255,0.5);
}

.row{
    margin: 0;
}