body{
    font-family: monospace;
}
body{
    background-color: #eceff1;
}

/* CLASS CONTACT IN THE BODY FOR THE FILE CONTACTO.PHP */

.contact h1{
    text-align: center;
}

.contact .row{
    display: flex;
    align-items: center;
}

.contact textarea{
    resize: none;
    height: 70px;
}

.contact .labelContact label{
    font-size: 1.2rem;
    font-weight: bolder;
}

.contact .labelContact, .contact [type="submit"]{
    margin-top: 5%;
}

.contact form button{
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.preguntas {
    margin-left: 5px;
}
.pregunta >div.Titulo-Preg{
    color: #ff7043;
    font-size:23px;
    font-style: italic;
    font-weight: bolder;
}
.pregunta >div.Subt-Resp{ 
    color: black;
    font-size: 20px;
    font-style: oblique;
    font-weight: lighter;
}

.productosCatalogo {
    font-size: 24px;    
}