
ul>li {

	text-align: center;

}
.picture {

	border-radius: 100px !important;
	width: 120px;

}
#clock {
  text-align: center;
  margin: 1em;
}
li>a{
	color: #337ab7;
}
#btnAdminLg{
	margin: 0 40px;
}
#btnAdminXs{

	margin: 0 36vw;

}
.actived1{
	border-left: 2px solid red;
}
.actived{
	border-bottom: 2px solid red;
}
/*//////////////////////////////*/

.productsPreorder .item .cover img {
    width: 100%}
.productsPreorder .item .cover {
    position: relative;
    display: inline-block;
}
.productsPreorder .item .date {
    color: #777;
    font-size: 13px;
    margin-top: 5px;
    white-space: nowrap;
}
.productsPreorder .item .button {
    border-radius: 3px;
    padding: 5px 10px 6px;
    font-size: 11px;
    margin: 5px 0 9px;
}
.productsPreorder .item:hover .button {
    background: #ffa700;
}

.productsPreorder .item {
    width: calc(100%/4 - 4px);
    display: inline-block;
    margin: 0 2px;
    position: relative;
}
.productsPreorder {
    position: relative;
    background: #fff;
    padding: 6px 4px 0;
    font-size: 0;
    text-align: center;
}
.button{
	background: #ff5400;
    color: #fff;
    border-radius: 5px;
    padding: 7px 20px;
    font-weight: 700;
    display: inline-block;
}

.mainshadow {
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .1);
}

#egames-main-container {
    width: 1036px;
    margin: 0 auto;
    background: #eee;
    position: relative;
    box-shadow: 0 0 3px rgba(0, 0, 0, .39);
}
#egames-panel-left {
    position: relative;
    float: left;
    width: 230px;
}
#egames-panel-center {
    float: left;
    width: 536px;
    padding: 0 10px;
}
#egames-panel-center.egames-panel-center-wide {
    width: 100%;
    padding: 0;
}
#egames-panel-center.egames-panel-center-semiwide {
    width: 776px;
    padding: 0 0 0 10px;
}
#egames-panel-right {
    float: left;
    width: 230px;
}
#egames-bottom-block-panel {
    clear: both;
    position: relative;
}
.egames-panel-center-wide .egames-sections-main-header, .egames-panel-center-semiwide .egames-sections-main-header {
    width: auto;
}
.egames-panel-center-wide .egames-sections-main-content, .egames-panel-center-semiwide .egames-sections-main-content {
    width: auto;
}


.productsPreorder .item .clock {
    background: #000;
    border-radius: 0 0 3px 3px;
    position: absolute;
    z-index: 1;
    top: 0;
    color: #fff;
    text-align: center;
    font-weight: 700;
    padding: 4px 12px;
    font-size: 11px;
    left: 50%;
    transform: translateX(-50%);
}
.productsPreorder .item .clock.delivered {
    background: #69af00;
}
.product .cover .dlc {
    width: 30%;
    position: absolute;
    left: 0;
}
.product .dlc-mobile {
    display: none;
    position: absolute;
    z-index: 0;
    height: 75px;
    width: 75px;
    top: 0;
    left: 0;
    z-index: 1;
    background: url(/themes/igv1/images/dlc.png) -2px -2px no-repeat;
    background-size: 100%
}
.item .dlc {
    width: 40%;
    position: absolute;
    left: 0;
}
.productsPreorder .item img.dlc {
    top: 0;
    left: 0;
    position: absolute;
    width: 40%}
.productsPreorder .item .shadow {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 30px;
    box-shadow: inset 0 -43px 15px -22px rgba(0, 0, 0, .75);
}
.productsPreorder .item .discount {
    background-color: #6fa506;
    padding: 2px 5px 3px;
    font-size: 13px;
    color: #fff;
    bottom: 0;
    left: 0;
    position: absolute;
}
.productsPreorder .item .price {
    color: #fff;
    bottom: 1px;
    right: 5px;
    position: absolute;
    font-size: 17px;
}
.productsPreorder .item .clock {
    background: #000;
    border-radius: 0 0 3px 3px;
    position: absolute;
    z-index: 1;
    top: 0;
    color: #fff;
    text-align: center;
    font-weight: 700;
    padding: 4px 12px;
    font-size: 11px;
    left: 50%;
    transform: translateX(-50%);
}

.productsPreorder .item .button {
    border-radius: 3px;
    padding: 5px 10px 6px;
    font-size: 11px;
    margin: 5px 0 9px;
}
@media screen and (max-width:350px) {
    .productsPreorder .item .button {
    padding: 5px 5px 6px;
}
